body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 60px 220px 0 220px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }

  input, select {
    margin-bottom: 10px;
    padding: 5px;
  }

  button {
    
  }
}